.common-text-justified {
    font-size: 24px;
    text-align: justify;
}

.common-text-center {
    font-size: 24px;
    text-align: center;
}

.common-text-left {
    font-size: 24px;
    text-align: left;
}