.common-text-justified {
    font-size: 24px;
    text-align: justify;
}

.common-text-center {
    font-size: 24px;
    text-align: center;
}

.common-text-left {
    font-size: 24px;
    text-align: left;
}

.div-whole-of-parts {
    width: 100%;
    height: 100%
}

.div-left-half {
    width: 50%;
    height: inherit;
    float: left;
}

.div-right-half {
    margin-left: 50%;
    height: inherit;
}

.div-left-third {
    float: left;
    width: 33%;
    height: inherit;
}

.div-middle-third {
    float: left;
    width: 33%;
    height: inherit;
}

.div-right-third {
    float: left;
    width: 33%;
    height: inherit;
}

.code {
    font-weight: bold;
    color: lime;
    font-family: Consolas;
    font-size: 24px;
    text-align: center;
}

.code-title {
    font-weight: bold;
    color: lime;
    font-family: Consolas;
    font-size: 40px;
    text-align: center;
}

.current {
    color: white;
    background-color: #1A1A1A;
}

<!---------- Top Navigation -------->
 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  height: 30px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  position: absolute;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  position: absolute;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  width: 95%;
  font: bold 24px Verdana;
  background-color: #4CAF50;
  color: black;
  text-align: center;
  padding: 8px 0;
  position: absolute;
}